body {
  font-family: "Bellota", cursive;
}

h1 {
  color: #07689f;
  font-size: 45px;
  font-weight: bold;
  padding: 10px 10px 0px 0px;
  margin: 18px 10px 20px 0px;
  text-align: left;
}
h2 {
  color: #40a8c4;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin: 20px 0px 0px 0px;
}
#icon {
  color: #07689f;
  font-size: 60px;
  padding: 20px 30px 10px 20px;
  margin: 20px 30px 20px 20px;
  width: 50%;
}
.temperature {
  color: #07689f;
  font-size: 50px;
  font-weight: bold;
}
h4 {
  color: #40a8c4;
  font-size: 20px;
  font-weight: bold;
  margin: -5px 10px 15px 0px;
}

.update {
  color: black;
  font-size: 15px;
  font-weight: bold;
  padding: 25px 0px 0px 0px;
}

.humidity {
  color: #07689f;
  font-size: 20px;
  font-weight: bold;
  padding: 37px 0px 0px 0px;
}

.wind {
  color: #07689f;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 0px 20px 0px;
}

.forecast {
  color: #07689f;
  font-size: 20px;
  font-weight: bold;
}

p.quote {
  color: #40a8c4;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  margin: 30px 0px 10px 0px;
}

button.btn-outline-info {
  border: 2px solid #07689f;
  background-color: #07689f;
  border-radius: 10px;
  padding: 5px;
}

div.container {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  padding: 0px 20px 5px 20px;
  margin: 20px auto;
  border-radius: 30px;
  max-width: 600px;
}

#search-form {
  margin: 15px 0px 0px 0px;
}

div.buttons {
  margin: -6px 0px 10px 0px;
}

footer {
  text-align: center;
  font-weight: bold;
  margin: -10px;
}
