body {
  font-family: "Bellota", cursive;
}

h1 {
  color: #07689f;
  font-size: 45px;
  font-weight: bold;
  padding: 10px 10px 0px 0px;
  margin: 18px 10px 20px 0px;
  text-align: left;
}
h2 {
  color: #40a8c4;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin: 20px 0px 0px 0px;
}

.fa-calendar-day {
  color: #40a8c4;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

#icon {
  color: #07689f;
  height: 150px;
  width: 150px;
  padding: 20px 30px 10px 20px;
  margin: 10px 30px 20px 20px;
}
.temperature {
  color: #07689f;
  font-size: 50px;
  font-weight: bold;
}
h4 {
  color: #40a8c4;
  font-size: 25px;
  font-weight: bold;
  margin: -5px 10px 15px 0px;
}

h5 {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin: -2px 10px 15px 0px;
}

img {
  position: relative;
  opacity: 0.5;
}

.humidity {
  color: #07689f;
  font-size: 20px;
  font-weight: bold;
  padding: 154px 0px 0px 0px;
}

.fa-tint {
  color: #07689f;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

.wind {
  color: #07689f;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 0px 28px 0px;
}

.fa-wind {
  color: #07689f;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

.forecast {
  color: #40a8c4;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.forecast-day {
  color: #07689f;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.forecastCard {
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  border: none;
  box-shadow: 4px 4px 4px grey;
  color: black;
  margin-bottom: 15px;
  margin-top: 10px;
}

button.btn-outline-info {
  border: 2px solid #07689f;
  background-color: #07689f;
  border-radius: 10px;
  padding: 5px;
}

.card {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  padding: 0px 20px 5px 20px;
  margin: 20px auto;
  border-radius: 40px;
  box-shadow: 8px 8px 8px grey;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

#advice {
  text-align: center;
  margin-top: 20px;
  color: #07689f;
  font-size: 25px;
  padding-top: 10px;
}

div.container {
  max-width: 624px;
}

#search-form {
  margin: 15px 0px 0px 0px;
}

.fa-brain {
  font-size: 15px;
  color: #ffff;
}

div.buttons {
  margin: -6px 0px 10px 0px;
}

footer {
  text-align: center;
  font-weight: bold;
  margin: -10px;
}
